__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
ENV/
.env
.env.*
*.db
*.sqlite3
*.log
*.pid
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.pyre/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
./node_modules
node_modules/
# Abaikan node_modules di folder frontend dari level root
Agrieats Frontend/node_modules/
Agrieats Frontend/package-lock.json

# Ini buat jaga-jaga kalau di backend ada juga
**/node_modules/
**/.env